@{
	ViewData["Title"] = "Europe";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Europe</h2>
<p>TravelAlly has pages for the following countries in Europe:</p>
<ul>
	<li><a asp-area="" asp-controller="Home" asp-action="UnitedKingdom">United Kingdom</a></li>
	<ul>
		<li><a asp-area="" asp-controller="Home" asp-action="London">London</a></li>
	</ul>
	<li><a asp-area="" asp-controller="Home" asp-action="Poland">Poland</a></li>
</ul>
