@{
	ViewData["Title"] = "Asia";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Europe</h2>
<p>TravelAlly has pages for the following countries in Asia:</p>
<ul>
	<li><a asp-area="" asp-controller="Home" asp-action="Japan">Japan</a></li>
</ul>
