@{
	ViewData["Title"] = "Home Page";
}
<head>

</head>
<body>
	<h2>TravelAlly</h2>

	<h3>What is TravelAlly</h3>
	<p>Welcome to TravelAlly! TravelAlly is a web application designed to assist travellers with navigating public transportation in unfamiliar countries and/or regions.</p>
	<p>This	web	application	allows individual users	to submit their	own	information	regarding public transportation	in countries that they're familiar with	for	others to read through. A user may edit the information pages listed under each countries respective continent at the top, as well as submit their own 'transport route', which is the route that a given means of transport takes to go from one place to another, starting from the origin and ending at the destination with all calling points.</p>
	<p>TravelAlly also provides the 'Route Planner' functionality, which allows a user to select where they would like to go from what city and then be given an appropriate 'route' to follow, possibly requiring transfers. The route planner uses the transport routes which are supplied by users.</p>

	<h3>Statistics</h3>

</body>

