@{
	ViewData["Title"] = "Home Page";
}
<head>

</head>
<body>
	<h2>TravelAlly</h2>
	<p>Welcome to TravelAlly! TravelAlly is a web-page designed to assist travellers with navigating public transportation in unfamiliar locations.</p>
</body>

