@{
	ViewData["Title"] = "Map";
}

<head>
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
	<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
</head>
<body>
	<h2>Map</h2>
	<p>Here, you can view the map of all stations and routes saved in this instance's database.	It may take	some time to load if there are many	records.</p>

	<div id="map">
		<script type="text/javascript">
			var	map	= L.map("map").setView([30.60, 5.80], 3);
			L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
				maxZoom: 19,
				attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
			}).addTo(map);

		</script>
		</div>
</body>

